<!DOCTYPE html>
<html ng-app="studentsApp" ng-controller="studentsCtrl">
<head>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-route.min.js"></script>

    <script src="../students/scripts/students.js"></script>

    <script src="../students/scripts/list.js"></script>
    <script src="../students/scripts/create.js"></script>
    <script src="../students/scripts/update.js"></script>

    <meta charset="utf-8" />
    <base href="/students/" />
    <title></title>
</head>
<body>

    <ng-view></ng-view>

    <!--<table>
        <thead>
            <tr>
                <th>{{date}}</th>
                <th>{{number}}</th>
                <th>{{currency}}</th>
                <th>{{uppercase}}</th>
                <th>{{lowercase}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" ng-model="date" /></td>
                <td><input type="text" ng-model="number" /></td>
                <td><input type="text" ng-model="currency" /></td>
                <td><input type="text" ng-model="uppercase" /></td>
                <td><input type="text" ng-model="lowercase" /></td>
            </tr>
        </tbody>
    </table>
          
    <br />

    <input type="text" ng-model="search" />
    <table>
        <tr ng-repeat="array in arrays | filter:search">
            <td>
                {{array}}
            </td>
        </tr>
    </table>
    <br />

    <h4>Search Table: <input type="text" ng-model="search1" /></h4>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Underage</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students | filter:search1">
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.address}}</td>
                <td>{{student.age | isUnderage}}</td>
            </tr>
        </tbody>
    </table>

    <br />
    
    <table>
        <thead>
            <tr>
                <th>AlphaNumeric</th>
                <th>Alpha Only</th>
                <th>Numbers Only</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" ng-model="firstname" alpha-numeric /></td>
                <td><input type="text" ng-model="alphaa" alpha-only /></td>
                <td><input type="text" ng-model="numberss" numbers-only /></td>
            </tr>
        </tbody>
    </table>-->
    
</body>
</html>