<a href="create">Create</a>
<button type="button" ng-click="create()">Create</button>
<br />
<br />
    <label>show search</label>
    <input type="checkbox" ng-model="showSearch" ng-true-value="true" ng-false-value="false" />
   
    <h4 ng-show="showSearch" >
        Search Table: <input type="text" ng-model="search1" ng-disabled="searchDisable" />
    </h4>
       
    <label>disable search</label>
    <input type="checkbox" ng-model="searchDisable" ng-true-value="true" ng-false-value="false" />
<br />

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Underage</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students | filter:search1">
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.address}}</td>
            <td>{{student.age | isUnderage}}</td>
            <td>
                <button ng-click="edit(student, $index)">Edit</button>
                <button ng-click="delete($index)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>