<h3>Hi {{profile.Name}}</h3>
<button type="button" ng-click="create()">Create</button>
<br />

<h4>Search Table: <input type="text" ng-model="search1" /></h4>
<br />

<div>
    <label class="pull-left n-t-10 m-i-10">Items per page:</label>
    <select ng-model="selectvalue" class="form-control" style="width:80px;">
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="60">60</option>
    </select>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in data = (users  | filter:search1) | limitTo:selectvalue:selectvalue*(page-1)">
            
            <td>{{user.Name}}</td>
            <td>{{user.ContactNumber}}</td>
            <td>{{user.Email}}</td>
            <td>
                <label class="switch">
                    <input type="checkbox" ng-model="user.Status" ng-change="changeStatus(user.Id, user.Status)" ng-true-value="true" ng-false-value="false"/>
                    <span class="slider round"></span>
                </label>
            </td>
            <td>
                <button ng-click="edit(user.Id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <uib-pagination class="pagination-sm pagination" total-items="data.length" ng-model="page" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=selectvalue></uib-pagination> 
</div>